<section class="profile-hero">
        <div class="container">
            <h2>User Profile</h2>
            <p>Welcome back, <span id="username">{{username}}</span> <strong id="email">( {{email}} )</strong></p>
        </div>
    </section>

    <section class="created-laptops">
        <div class="container">
            <h3>Created Laptops</h3>
            {{#if ownerToResult}}
                <div class="laptop-list">
                    {{#each ownerToResult}}
                        {{> etem3}}
                    {{/each}}
                </div>
            {{else}}
                <p class="no-post">You haven't created a post yet</p>
            {{/if}}
        </div>
    </section>

    <section class="preferred-laptops">
        <div class="container">
            <h3>Preferred Laptops</h3>
            {{#if interactedWithResult}}
                <div class="laptop-list">
                    {{#each interactedWithResult}}
                        {{> etem3}}
                    {{/each}}
                </div>
            {{else}}
                <p class="no-post">You haven't preferred any devices yet</p>
            {{/if}}
        </div>
    </section>